--- layout: default.html title: SwallowJs TodoList ---

<div id="navbar"></div>
<script>
    includeElement('navbar', 'header-element');
</script>

<div class="container">

    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 10px">
                <div class="input-group">
                    <input type="text" class="form-control" id="todo" placeholder="name">
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="add-todo"><span class="fa fa-plus"></span> Add</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-12" id="todoelement">

            </div>
        </div>
    </div>

</div>